<form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
    <label for="emisor">Emisor</label>
    <input formControlName="emisor" type="text">
    <div *ngIf="signupForm.get('emisor').hasError('email') && signupForm.get('emisor').touched">OBLIGATORIO</div>
    <br><br>
    <label for="asunto">Asunto</label>
    <input formControlName="asunto" type="text">
    <div *ngIf="signupForm.get('asunto').hasError('required') && signupForm.get('asunto').touched">OBLIGATORIO</div>
    <br><br>
    <label for="mensaje">Mensaje</label>
    <input formControlName="mensaje" type="text">
    <br><br>
    <button [disabled]="signupForm.invalid" type="submit">Registro</button>
</form>