<h1>LISTADO DE ARTICULOS</h1>
<h4>Utilizando Proyeccion de Contenidos</h4>

<ng-container *ngIf="articles.length > 0; else cargando">
    <div class="articles-container">
        <app-article *ngFor="let article of articles">

            <div class="title">{{ article.title }}</div>
            <div class="id">{{ article.id }}</div>
            <div class="body">
                {{ article.body }}
            </div>

        </app-article>
    </div>
</ng-container>


<ng-template #cargando>
    <div class="cargando">
        <mat-spinner color="primary"></mat-spinner>
        Cargando...
    </div>
</ng-template>